@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  li {
    @apply list-disc list-inside;
  }
  .highlight:hover {
    @apply text-indigo-600 dark:text-indigo-400 transition-colors;
  }
}

.post-content h2 {
  @apply mt-10 mb-4;
}

.post-content p {
  @apply mb-4;
}
