@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  ul > li {
    @apply list-disc list-inside;
  }
  ol > li {
    @apply list-decimal list-inside;
  }
  .highlight:hover {
    @apply text-indigo-600 dark:text-indigo-400 transition-colors ease-in-out duration-200;
  }
  .bg-hover {
    @apply hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors ease-in-out duration-200;
  }
  .project-hover {
    @apply group-hover:bg-gray-100 dark:group-hover:bg-[#172033] transition-colors ease-in-out duration-200;
  }
}

.post-content h2 {
  @apply mt-10 mb-4;
}

.post-content h3 {
  @apply mt-8 mb-4;
}

.post-content p, .post-content ul, .post-content ol {
  @apply mb-4;
}

.post-content a, .underline-highlight {
  @apply underline underline-offset-2 decoration-indigo-600 dark:decoration-indigo-400;
}

.post-content a:hover, .underline-highlight:hover {
  @apply text-indigo-600 dark:text-indigo-400 transition-colors ease-in-out duration-200;
}